<footer>
  <div class="row">
    <div class="mx-auto col-xs-12 col-sm-10 col-md-8 col-lg-6">
      <hr>
      <div class="footer-warning text-center">
        ITS Calendar non è un portale ufficiale, <br>i dati utilizzati non sono soggetti a controlli.
        <div class="mt-1">
          <span class="text-muted">Marco Stevanon &copy;</span>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto">
    <div class="mt-3 mb-5">
      <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/marcosteva" rel="noreferrer">
        <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee">
        <span style="margin-left:15px;font-size:19px !important;">Buy me a coffee</span>
      </a>
    </div>
  </div>
</footer>
