<li class="text-left p-2 list-group-item day"
  [class.old]="day.isOld"
  [class.dark]="day.isOdd && !day.isOld"
  [class.current]="day.isCurrentDay"
  [class.blink]="day.isCurrentHour">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 w-100">
        <b> {{ day.module }} </b>
        <div class="prof">
          <em> {{ day.professor }} </em>
        </div>
      </div>
    </div>

    <div class="row second-line">
      <div class="col-6 p-0">
        <div class="date">
          {{ day.date | date:'EE d LLL yyyy' }} &nbsp;&nbsp;
          <div class="time px-2"
            [class.old]="day.isOld"
            [class.AM]="day.timeStartH <= 13"
            [class.PM]="day.timeStartH > 13">
            {{ day.timeStartH }} - {{ day.timeEndH }}
          </div>
        </div>
      </div>

      <div class="col-6 p-0 text-right" *ngIf="day.room"> {{ day.room }} </div>
    </div>

  </div>
</li>
