/* Times List */
.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-top-width: 1px !important;
  border-top-color: rgba(0, 0, 0, 0.08) !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
}

.day {
  list-style-type: none;
  font-size: medium;
}

.day.old {
  font-size: small !important;
  background-color: #e0e0e0;
}

.day.dark {
  background-color: #f2f2f2;
}

.day.current {
  background-color: #ffcccc;
}

.day.blink {
  -webkit-animation: blink 2s infinite;
  -moz-animation: blink 2s infinite;
  animation: blink 2s infinite;
}

.prof {
  float: right;
  padding-left: 10px;
  font-size: small;
}

.second-line {
  padding-top: 3px;
}

.date {
  float: left;
}

.time {
  border-radius: 5px;
  display: inline-block;
}

.time.old {
  background-color: white;
}

.AM {
  background-color: #77b4fe;
}

.PM {
  background-color: #fca754;
}

/* blick animation */
@-webkit-keyframes blink {
  100% {
    background-color: #ffcccc;
  }
  90% {
    background-color: #ffcccc;
  }
  70% {
    background-color: #ffb3b3;
  }
  60% {
    background-color: #ff9999;
  }
  50% {
    background-color: #ff8080;
  }
  40% {
    background-color: #ff9999;
  }
  30% {
    background-color: #ffb3b3;
  }
  20% {
    background-color: #ffcccc;
  }
  10% {
    background-color: #ffcccc;
  }
  0% {
    background-color: #ffcccc;
  }
}

@-moz-keyframes blink {
  100% {
    background-color: #ffcccc;
  }
  90% {
    background-color: #ffcccc;
  }
  70% {
    background-color: #ffb3b3;
  }
  60% {
    background-color: #ff9999;
  }
  50% {
    background-color: #ff8080;
  }
  40% {
    background-color: #ff9999;
  }
  30% {
    background-color: #ffb3b3;
  }
  20% {
    background-color: #ffcccc;
  }
  10% {
    background-color: #ffcccc;
  }
  0% {
    background-color: #ffcccc;
  }
}

@keyframes blink {
  100% {
    background-color: #ffcccc;
  }
  90% {
    background-color: #ffcccc;
  }
  70% {
    background-color: #ffb3b3;
  }
  60% {
    background-color: #ff9999;
  }
  50% {
    background-color: #ff8080;
  }
  40% {
    background-color: #ff9999;
  }
  30% {
    background-color: #ffb3b3;
  }
  20% {
    background-color: #ffcccc;
  }
  10% {
    background-color: #ffcccc;
  }
  0% {
    background-color: #ffcccc;
  }
}
