<div class="text-center m-5" *ngIf="errors">
  <img src="assets/cal-512.png" width="100" height="100" class="mt-5" alt="logo">
  <h4 class="mt-3">Oops, qualcosa non va...</h4>
  <div class="mx-auto error">
    <code>
      <b>{{errors.status}} - {{errors.statusText}}</b>
      <div>{{errors.url}}</div>
    </code>
  </div>
  <button type="button" class="btn btn-info mt-3" (click)="reload.emit()">Ricarica</button>
</div>
