<div *ngIf="!selectedCourse">
  <img src="../../assets/cal-100.png" height="100" class="mx-auto mt-4" alt="logo">
  <h3 class="mt-3">Seleziona un corso</h3>
</div>

<div class="mt-3"
  [class.grid-4]="selectedCourse"
  [class.grid-1]="!selectedCourse">

  <div *ngFor="let item of courseList">
    <button class="btn btn-block btn-bold"
      [class.btn-sm]="selectedCourse"
      [class.btn-lg.mt-2]="!selectedCourse"
      [class.btn-outline-dark]="selectedCourse !== item"
      [class.btn-dark]="selectedCourse === item"
      (click)="select(item)">
      {{item}}
    </button>
  </div>

</div>
