<!-- Week -->
<li class="week py-1" [class.current]="week.weekNum === currWeekNum">
  {{ week.startDate | date:'dd MMM' }} - {{ week.endDate | date:'dd MMM' }}
</li>

<!-- Day -->
<span *ngFor="let day of week.days; let i = index;">
  <!-- <li class="day py-0"
    *ngIf="i === 0 || day.date !== week.days[i - 1].date"
    [class.dark]="day.isOdd && !day.isOld"
    [class.old]="day.isOld">
    {{ day.date | date:'EE dd MMM' }}
  </li> -->

  <app-event-item [day]="day"></app-event-item>
</span>
