/*Week Data*/
.week {
  list-style-type: none;
  background-color: #e0e0e0;
  font-size: large;
  text-align: center;
}

.week.current {
  color: #e6431b;
  font-weight: bold;
}

.day {
  list-style-type: none;
  font-size: medium;
}

.day.old {
  font-size: small !important;
  background-color: #e0e0e0;
}

.day.dark {
  background-color: #f2f2f2;
}
