<div class="px-1 mt-3" *ngIf="selectedCourse">

  <!-- {{ today | date:'dd MMMM yyyy HH:mm:ss'}} -->
  <div class="mx-auto p-0 col-sm-12 col-md-8 col-lg-6">
    <h4> Orari per <b>{{selectedCourse}}</b> </h4>

    <h4 class="mt-3" *ngIf="!weeks.length && !isLoading"> Nessun dato </h4>

    <!-- Loading Image -->
    <app-loading-page *ngIf="isLoading"></app-loading-page>

    <div class="card mx-1" *ngIf="weeks.length && !isLoading">

      <!--Times View-->
      <ul class="list-group list-group-flush" *ngFor="let week of weeks">
        <app-event-week [week]="week" [today]="today"></app-event-week>
      </ul>

    </div>
  </div>

</div>
