<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-brand" (click)="resetSelected()">
    <img src="assets/cal-100.png" height="30" class="d-inline-block align-top" alt="logo">
    &nbsp;ITS Calendar
  </div>
</nav>

<div class="container" [hidden]="errors">
  <!-- Course List -->
  <app-course-list
    (selectedCourseEmitter)="selectedCourse = $event"
    (errorsEmitter)="errors = $event">
  </app-course-list>

  <hr *ngIf="selectedCourse">

  <!-- Times List -->
  <app-scheduler
    [selectedCourse]="selectedCourse"
    (errorsEmitter)="errors = $event">
  </app-scheduler>

  <!-- Footer -->
  <app-footer></app-footer>

</div>

<!-- Error page -->
<app-error-page
  [errors]="errors"
  (reload)="reload()">
</app-error-page>
